body {
    background: #1e1e1e;
    color: white;
    font-family: Arial;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    background: #333;
    padding: 25px;
    border-radius: 10px;
    width: 300px;
    text-align: center;
}

input, select, button {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
}

button {
    background: #0b84ff;
    color: white;
    border: none;
    cursor: pointer;
}

button:hover {
    background: #006edc;
}
